.navbar-brand.app-component > img {
    height: 30px;
}



.prebootShow.app-component {
    opacity: 1 !important;
}

.prebootStep.app-component {
    opacity: 0;
    transition: .5s ease-in-out all;
}