<div class="app-component app-container">
  <ngx-toasta></ngx-toasta>
<app-navbar 
[appTitle]=appTitle
[isUserLoggedIn]=isUserLoggedIn
>

</app-navbar>
 

  

  <main class="app-component container">
    <router-outlet></router-outlet>
    <div class="app-component footer-height"></div>
  </main>

  <footer class="app-component footer fixed-bottom">
    <div class="container">
      <p class="text-center text-muted">
        <span style="font-style:italic">quick</span>App &copy; {{getYear()}}
        <a href="https://www.ebenmonney.com" target="_blank">www.ebenmonney.com</a>
        <!--<span class="small display-none">- Powered by <a href="https://www.ebenmonney.com/quickapp" target="_blank"><span style="font-style:italic">quick</span>App</a></span>-->
      </p>
    </div>
  </footer>

  <div *ngIf="shouldShowLoginModal" class="modal fade login-control" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
       [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg h-75 d-flex flex-column justify-content-center my-0">
      <div class="modal-content">
        <div class="modal-body">
          <app-login #loginControl isModal="true"></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
